body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkGrey);

}

:root{
  --orange: #f48915;
  --gray: #9c9c9c;
  --lightgray: #d9d9d9;
  --darkGrey: #464d53;
  --caloryCard: #656565;
  --appColor: #3c3f45;
  --planCard: linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);

};

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
